.background-div {
  background-image: url("./Assets/bg-cover.png");
  height: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.background-div .wheels-text-div {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.background-div .wheels-text-div .wheel-title-div {
  font-weight: 400;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  color: #67696b;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 10px;
}

.background-div .wheels-text-div .wheel-text-div {
  font-style: italic;
  color: #67696b;
  padding: 40px;
  width: 700px;
  font-size: 17px;
}

.background-div .wheels-img-div {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 10px 0px;
}

.background-div .wheels-img-div .wheel-pic-info-parent {
  max-width: 400px;
  text-align: center;
  font-size: 17px;
  min-height: 500px;
  padding: 50px;
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected {
  background-image: url("./Assets/wheel-bg.jpg");
  max-width: 400px;
  text-align: center;
  font-size: 17px;
  min-height: 600px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}

.background-div .wheels-img-div .wheel-pic-info-parent-selected:hover {
  transform: scale(1.2);
}

.background-div .wheels-img-div .wheel-pic-info-parent .wheel-info-1 {
  font-weight: 600;
  padding: 2px;

}

.background-div .wheels-img-div .wheel-pic-info-parent .wheel-info-2 {
  max-width: 400px;
  padding: 2px;
}

.background-div .wheels-img-div .wheel-pic-info-parent .wheel-name {
  font-weight: 600;
  padding: 4px;
}